
header{
    height: 55px;
    background-color: #ffffff;
}

.headerLogo{
    width: 300px;
    background-color: #673ab7;
}

.logoImage{
    margin-left: 20px;
    margin-right: 15px;
}

.headerTitle{
    color: #ffffff;
    font-size: 18px;
}