<header>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col nopadding">
        <div class="headerLogo h-100 d-flex justify-content-start align-items-center flex-row">
          <div class="logoImage">
            <img src="./assets/images/logo.png" />
          </div>
          <div>
            <span class="headerTitle">Patient <b>Care</b></span>
          </div>
        </div>
      </div>
      <div class="col">
        Search
      </div>
      <div class="col d-flex justify-content-end align-items-center">
        Avatar
      </div>
    </div>
  </div>
</header>