<footer>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col nopadding">
          <div class="logOutButton h-100 d-flex justify-content-center align-items-center flex-row">
            <div>
              <span class="shutDownText">Log <b>Out</b></span>
            </div>
            <div >
              <i class="fa fa-power-off shutDownIcon"></i>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          Patient Care All Rights Reserved
        </div>
      </div>
    </div>
  </footer>