<div class="menuAvatar d-flex align-content-center justify-content-around">
  <div>
    <img src="./assets/images/avatar.jpg" class="img-circle rounded-circle avatarImage" />
  </div>
  <div class="avatarNameContainer">
    <span class="avatarName">Joseph Lister</span> <br>
    <span class="avatarTitle">Surgeon</span>
  </div>
</div>
<br>
<div class="menuItemContainer d-flex align-items-center justify-content-left">
  <div>
    <i class="fa fa-home menuIcon"></i>

  </div>
  <div>
    <a [routerLink]="['/main/home']" preserveFragment>
      Home
    </a></div>
</div>
<div class="menuItemContainer d-flex align-items-center justify-content-left">
  <div>
    <i class="fa fa-plus-circle menuIcon"></i>

  </div>
  <a [routerLink]="['/main/newpatient']" preserveFragment>
    Add New Patient
  </a>
</div>
<div class="menuItemContainer d-flex align-items-center justify-content-left">
  <div>
    <i class="fa fa-list-alt menuIcon"></i>

  </div>
  <a [routerLink]="['/main/listpatients']" preserveFragment>
    List Patients
  </a>
</div>