.toastSystemContainer {
  height: auto;
  z-index: 2000;
}

.toastHeader {
  height: 90px;
  width: 100%;
  color: white;
  margin-bottom: 5px;
}

.toastErrorHeader {
  background-color: #f48395;
}

.toastInfoHeader {
  background-color: #673ab7;
}

.toastFooter {
  background-color: #dbdbdb;
  height: 70px;
  color: #8d8d8d;
}

.toastIcon {
  height: 50px;
  width: 50px;
}

.toastMessageContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #8d8d8d ;
}

.toastHeaderTitle {
  font-size: 26px;
  font-weight: bold;
  color: #8d8d8d ;
}

.notificationConfirmText
{
  font-size: 18px;
}